.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
a{
  text-decoration: none;
  color: black;
}
.post__image{
  height: 600px;
}
.user{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
}
.user__photo{
  height: 50px;
  border-radius: 50%;
}
.post_text-content{
  width: 300px;
}
.post__comments{
  margin: 0;
  padding: 0;
}
.post__comment-content{
  width: 240px;
}
.left{
  float: left;
}
.right{
  float: right;
}

.user__name, .post__option{
  margin-top: 16px;
  margin-left: 8px;
  font-weight: bold;
}
 .user_follow, .dot, .user__isfollowing{
  margin-top: 8px;
  margin-left: 3px;
  font-weight: bold;
}