.contact{
  background-color: #f5f7fa;
  font-size: 12px;

  @include e(container) {
    padding: 14px 15px;
    width: 100%;
    @include mq(xl){
      width: 1170px;
    }
  }
  a{
    color: #506a85;
  }
  li{
    margin-right: 17px;
    display: inline-block;
  }
  li:last-child{
    margin-right: 0;
  }
  span{
    margin: 10px;
  }
}