.contact{
  background-color: #f5f7fa;
  font-size: 12px;

  @include e(container) {
    padding: 14px 15px;
    width: 100%;
    @include mq(xl){
      width: 1200px;
    }
  }
  a{
    color: #506a85;
  }
  li{
    margin-right: 17px;
    display: inline-block;
  }
  @include e(list){
    text-align: center;
    @include mq(md){
      float: left;
    }
  }
  @include e(list-socials){
    text-align: center;
    margin-top: 15px;
    @include mq(md){
      margin-top: 0px;
      float: right;
    }
  }
  li:last-child{
    margin-right: 0;
  }
  span{
    margin: 10px;
  }
}