.nav{
  color: #506a85;
  font-size: 15px;
  font-weight: 700;

  @include e(container){
    width: 100%;
    padding: 28px 15px;
    @include mq(xl){
      width: 1200px;
    }
  }
  @include e(logo){
    float: left;
    margin-right: 3.02%;
    @include mq(xl){
      margin-right: 90px;
    }
  }
  a{
    color: #506a85;
    text-transform: uppercase;
  }
  ul{
    display: none;
    margin-top: 10px;
    float: left;
    @include mq(lg){
      display: block;
    }
  }
  li{
    margin-right: 44px;
    display: inline-block;  
  }
  button{
    background-color: transparent;
    border: none;
    color: #506a85;
    margin-top: 10px;
    float: right;
    margin-right: 23px;
  }
  @include e(search-btn) {
    display: none;

    @include mq(lg){
      display: block;
    }
  }
  @include e(burger-btn) {
    display: block;
    @include mq(lg){
      display: none;
    }
  }
}